body {
    -webkit-app-region: no-drag;
}
#dragZone {
    -webkit-app-region: drag;
    user-select: none;
}

.chat-panel {
    height: 90vh;
}
.s-content .panel .tile {
    margin: .75rem 0;
}

.tile-title {
	margin: 0 0 0 0;
}

.insignificant{
    font-size: 7pt;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
}
.overlay .empty .icon {
	    font-size: 2rem;
}

#channel-search-input {
    -webkit-app-region: no-drag;
}